/** LoadingAsset Bundle **/
.da-grid-loading-bars, .da-grid-loading-reload, .da-grid-loading-spinner {
    opacity: 0.5;
}

.da-grid-loading-bars {
    background: #ffffff url('../img/bars.gif') center center no-repeat !important;
}

.da-grid-loading-reload {
    background: #ffffff url('../img/reload.gif') center center no-repeat !important;
}

.da-grid-loading-spinner {
    background: #ffffff url('../img/spinner.gif') center center no-repeat !important;
}

.da-grid-loading-bars tr, .da-grid-loading-bars td,
.da-grid-loading-reload tr, .da-grid-loading-reload td,
.da-grid-loading-spinner tr, .da-grid-loading-spinner td {
    background: transparent !important;
}
/** LoadingAsset Bundle **/
